body
{
    color: black;
    background-color: #9edec6;
    font-size: 20px;
    text-decoration-color: #F19368;
}

h1
{
    font-weight: bold;
    font-size: 30px;
}

h2
{
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 25px;
}
section
{
  display: block;
  background-color: #F19368;
  padding-left: 70px;
  height: 403px;
}
.welcome
{
    font-size: 50px;

    color: black;
}

.container
{
    padding: 25px;
}

.intro-container
{
    font-size: 25px;

    padding: 25px;

    text-align: center;
}

.rules-container
{
    padding: 25px;
}

ul
{
    list-style: none;
}

ul li::before
{
  content: "\2022";
  color: white;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

ol
{

  color: black;
  background-color: #F19368;
}


li
{
  color: black;
}

.insight-container
{
    padding: 25px;

    text-decoration: underline;

    color: black;
    border: 1px solid black;
}

.insight-2
{
    margin-left: 20px;
}

.insight-3
{
    margin-left: 40px;
}

.insight-4
{
    margin-left: 60px;
}

.insight-5
{
    margin-left: 80px;
}

.list-container
{
    position: relative;
    background: #F19368;
    padding-bottom: 208px;
}

.knowledge-container
{
  position: relative;
  top: 0;
  left: 110px;
  display: inline-block;
  margin-bottom: 0px;
  border: solid 1px white;
}

.edu-container
{
  position: absolute;
  width: 172px;
  border: solid 1px white;
  left: 206px;
  top: 481px;
}

.edu-header
{
    margin-top: 15px;
}

h1.work-header
{
    padding-bottom: 10px;
    text-align: center;
    text-decoration: underline;
}

.work-container
{
  position: absolute;
  top: 320px;
  left: 429px;
  border: solid 1px white;
  height: 267px;
}

.top-ten-container
{
  padding-left: 50px;
  position: absolute;
  top: 320px;
  left: 704px;
  border: solid 1px white;
  height: 267px;
}
